appdirs==1.4.4
audioread==3.0.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
decorator==5.1.1
idna==3.10
importlib_metadata==8.5.0
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
msgpack==1.1.0
mutagen==1.47.0
numba==0.60.0
numpy==2.0.2
packaging==24.1
platformdirs==4.3.6
pooch==1.8.2
pycparser==2.22
pyee==11.1.1
pyppeteer==2.0.0
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
threadpoolctl==3.5.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.20
websockets==10.4
zipp==3.20.2
